.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

#delete-form {
  display: inline;
}

.select {
  display: inline;
}

.loginbtn {
  background: none;
}

.login {
  width: 260px;
}

.team {
  text-align: center;
}

.subhead {
  font-family: Arial, Helvetica, sans-serif;

  font-size: 15px;
}

.show {
  padding: 4rem;
  margin-top: -2.9rem;
}
